<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tequegotowe</title>
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="icon" type="image/png" href="../favicon.png?=2v">
</head>
<body>


    <!------------------------------ Contenedor principal de mi pagina ----------------------------------->

    <div id="contenedor">

        <img id="Banner" src="../assets/images/banner.png" alt="Banner de tequeños" >

        <img id="backImage" src="../assets/images/tequeños7.jpg" alt="Logo">

        <!------------------------- Barra para el menu--------------------------------->


            <header>

                <nav>
                    <ul>
                        <li><a href="../index.html">Inicio</a></li>
                        <li><a href="../views/productos.html">Galeria</a></li>
                        <li><a href="../views/presupuesto.html">Presupuesto</a></li>
                        <li><a href="#Contacto">Contacto</a></li>
                    
                    </ul>
                </nav>

            </header>

        <!------------------------- Articulo de mi pagina --------------------------------->


            <h1>Donde puedes encontrarnos</h1>

                <br>

                <div class="info2">
                    <p>Tequegotowe se enorgullece de contar con modernas sedes en Poznań, que incluyen una fábrica y varios restaurantes, cada uno diseñado para reflejar nuestra filosofía de calidad y excelencia. La fábrica está equipada con tecnología de vanguardia que nos permite optimizar la producción y garantizar los más altos estándares en nuestros productos. Con un equipo altamente capacitado, trabajamos constantemente para innovar y mejorar nuestros procesos, asegurando que cada artículo que sale de nuestras instalaciones cumpla con las expectativas de nuestros clientes. <br><br>

                    En Tequegotowe, creemos que nuestras sedes en Poznań son más que simples lugares de trabajo; son espacios donde la pasión por la comida y la producción se unen para crear experiencias memorables. Estamos comprometidos con el desarrollo de nuestros empleados y la satisfacción de nuestros clientes, y continuaremos invirtiendo en nuestra infraestructura y en la formación de nuestro equipo para seguir siendo un referente en la industria. <br><br>

                    Nuestros restaurantes, ubicados en áreas estratégicas como la animada calle Święty Marcin y la histórica calle Stary Rynek, ofrecen una experiencia culinaria única que combina ingredientes frescos y locales con un enfoque en la sostenibilidad. Cada uno de nuestros establecimientos está diseñado para brindar un ambiente acogedor y atractivo, donde los clientes pueden disfrutar de platos deliciosos elaborados por chefs talentosos. Además, nos esforzamos por integrar prácticas responsables en nuestra operación, desde el abastecimiento de ingredientes hasta la gestión de residuos, contribuyendo así al bienestar de la comunidad.</p>

                    <img class="imagen2" src="../assets/images/polonia-mapa.jpg" alt="Mapa de poznan">
                </div>

            <!------------------------- Articulo de mi pagina --------------------------------->

            <h1>Calle Święty Marcin</h1>

                <div class="info1">
                    <p>
                        La sede de los restaurantes de Tequegotowe, ubicada en la animada calle Święty Marcin, representa el corazón de nuestra oferta gastronómica en Poznań. Esta calle es una de las principales arterias de la ciudad, conocida por su vibrante ambiente, que combina una rica herencia cultural con un estilo de vida moderno. La ubicación estratégica de nuestros restaurantes no solo brinda visibilidad, sino que también facilita el acceso a una amplia variedad de clientes, desde residentes locales hasta turistas que visitan la ciudad. <br><br>

                        Los restaurantes en esta sede han sido diseñados con un enfoque en la comodidad y la experiencia del cliente. Al entrar, los visitantes son recibidos por un ambiente acogedor y contemporáneo, con decoración que refleja la identidad de Tequegotowe. Los espacios interiores están cuidadosamente distribuidos para ofrecer tanto áreas íntimas para cenas privadas como mesas amplias para grupos. Además, contamos con una hermosa terraza al aire libre, perfecta para disfrutar de una comida al sol durante los meses más cálidos.

                        La oferta gastronómica en la sede de Święty Marcin destaca por su compromiso con la calidad y la sostenibilidad. Nuestro menú, elaborado por chefs apasionados, presenta una variedad de platos que celebran los ingredientes frescos y locales, inspirándose en la rica tradición culinaria de Polonia y la influencia de sabores internacionales. Desde deliciosas entradas hasta postres irresistibles, cada plato está diseñado para proporcionar una experiencia memorable. Además, nuestro equipo está siempre dispuesto a recomendar maridajes de vinos y bebidas que complementen cada comida, asegurando que cada visita sea única.

                    </p>

                    <img class="imagen1" src="../assets/images/Swiey_Marcin.jpg" alt="primer Restaurant">

                </div>

            <!------------------------- Articulo de mi pagina --------------------------------->

            <h1> Stary Rynek</h1>

                <div class="info2">
                    <p>
                        Al ingresar a nuestro restaurante en Stary Rynek, los visitantes son recibidos por una decoración que fusiona la elegancia clásica con toques contemporáneos. El interior está diseñado para crear un ambiente acogedor y sofisticado, con detalles arquitectónicos que rinden homenaje a la historia de la plaza. Las amplias ventanas permiten que la luz natural inunde el espacio, ofreciendo vistas impresionantes de la plaza y creando un entorno luminoso y agradable. Además, contamos con una terraza al aire libre que permite a nuestros clientes disfrutar de su comida al aire libre, rodeados del bullicio y la belleza de la vida en la plaza. <br><br>

                        El menú de nuestro restaurante en Stary Rynek está cuidadosamente elaborado para resaltar la calidad de los ingredientes frescos y locales. Nuestros chefs se dedican a crear platos que combinan la tradición polaca con influencias modernas, ofreciendo una experiencia gastronómica única. Desde sabrosos aperitivos hasta platos principales innovadores y postres irresistibles, cada opción está diseñada para deleitar los sentidos. También ofrecemos una selección de vinos y cócteles cuidadosamente elegidos que complementan perfectamente nuestra oferta culinaria. Nuestro personal capacitado está siempre disponible para brindar recomendaciones personalizadas y asegurar que cada comida sea memorable. <br><br>

                        En resumen, la sede de Tequegotowe en la calle Stary Rynek ofrece una experiencia culinaria única en un entorno histórico y culturalmente rico. Con un enfoque en la calidad de los ingredientes, un ambiente acogedor y un servicio excepcional, nos comprometemos a proporcionar a nuestros clientes una experiencia inolvidable. Estamos emocionados de seguir siendo parte del vibrante tejido de Poznań y de contribuir a su escena gastronómica.

                    </p>

                    <img class="imagen2" src="../assets/images/Stary Rynek.jpg" alt="Stary rynek">
                </div>

            <!------------------------- Articulo de mi pagina --------------------------------->

            <h1>Fabrica en el distrito de Górczyca </h1>

                <div class="info3">

                    <p>La sede de la fábrica de Tequegotowe en Poznań se encuentra en el distrito de Górczyca, una zona industrial que facilita el acceso a rutas de transporte y logística, ademas; es un ejemplo de innovación y eficiencia en el ámbito de la producción. Situada en una zona industrial estratégica, la fábrica se beneficia de una ubicación que facilita el transporte y la logística, permitiendo un acceso fácil a proveedores y distribuidores. Este entorno está diseñado para optimizar cada fase del proceso de producción, desde la recepción de materias primas hasta la entrega de productos terminados.

                    La instalación está equipada con tecnología de última generación, que no solo mejora la eficiencia, sino que también asegura que cada producto cumpla con los más altos estándares de calidad. Nuestras líneas de producción son versátiles y están diseñadas para adaptarse a las demandas del mercado, lo que nos permite innovar y lanzar nuevos productos de manera ágil. La fábrica cuenta con sistemas de control de calidad rigurosos, garantizando que cada lote producido cumpla con las especificaciones y expectativas de nuestros clientes.</p>

                    <p>El diseño de la fábrica también incorpora prácticas sostenibles, reflejando nuestro compromiso con la responsabilidad ambiental. Utilizamos recursos de manera eficiente y minimizamos el desperdicio, implementando técnicas de producción que priorizan la sostenibilidad. Esto incluye la optimización del uso de energía y agua, así como la gestión adecuada de residuos. Nuestro equipo está capacitado en prácticas de producción responsables, lo que nos permite no solo cumplir con la normativa, sino también contribuir al bienestar del entorno.

                    El equipo de trabajo en la fábrica está compuesto por profesionales altamente cualificados que aportan su experiencia y pasión a cada etapa del proceso. Fomentamos un ambiente de trabajo colaborativo y motivador, donde la formación continua y el desarrollo profesional son prioridades. Creemos que el éxito de nuestra fábrica se basa en el talento y la dedicación de nuestro personal, y trabajamos constantemente para crear un entorno donde todos se sientan valorados y puedan crecer.</p>

                </div>

            <!------------------------- Fotos de fabrica --------------------------------->

            <div class="galeria1">

                <img class="imagen2" src="../assets/images/sede1.jpg" alt="Sede 1">

                <img class="imagen2" src="../assets/images/sede3.jpg" alt="Sede 2">

                <img class="imagen2" src="../assets/images/sede2.jpg" alt="Sede 3">

            </div>

            <!------------------------- Pie de pagina de mi website--------------------------------->

            <footer>

                <p>&copy; <span class="especial">Tequegotowe.com /</span> Todos los derechos reservados/</p>
                <div>
                    <a href="#contact">Contacto/</a>
                    <a href="#privacy">Política de Privacidad/</a>
                    <a href="#terms">Términos de Servicio/</a>
                </div>
                <div>
                    <span class="especial">Síguenos en:</span>
                    <a href="https://www.instagram.com/tequegotowe/" target="_blank"><img class="logo" src="../assets/images/facebook.jpg" alt="">Facebook/</a>

                    <a href="https://www.instagram.com/tequegotowe/" target="_blank"> <img class="logo" src="../assets/images/twitter.jpg" alt="">Twitter/</a>

                    <a href="https://www.instagram.com/tequegotowe/" target="_blank"> <img class="logo" src="../assets/images/instagram.jpg" alt="">Instagram</a>
                </div>

            </footer>

    </div>

    <!------------------------- Aqui Termina mi contenedor principal--------------------------------->
    
</body>
</html>