<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tequegotowe</title>
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="icon" type="image/png" href="../favicon.png?=2v">
</head>
<body>

    
    <!------------------------------ Contenedor principal de mi pagina ----------------------------------->

    <div id="contenedor">

        <img id="Banner" src="../assets/images/banner.png" alt="Banner de tequeños" >

        <img id="backImage" src="../assets/images/tequeños7.jpg" alt="Logo">

        <!------------------------- Barra para el menu--------------------------------->

        <header>

            <nav>

                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="#galeria">Galeria</a></li>
                    <li><a href="../views/presupuesto.html">Presupuesto</a></li>
                    <li><a href="../views/contacto.html">Contacto</a></li>
                
                 </ul>

            </nav>

        </header>

         <!------------------------- Articulo de mi pagina--------------------------------->

        <h1>Calidad de nuestros productos</h1>

            <div class="info3">

                <p>Tequegotowe se especializa en ofrecer una deliciosa variedad de tequeños, un popular aperitivo originario de Venezuela que ha conquistado paladares en todo el mundo. Con una base de masa crujiente y rellenos variados, cada producto está diseñado para proporcionar una experiencia única de sabor y textura. Desde los clásicos tequeños de queso hasta innovadoras versiones con ingredientes inesperados, Tequegotowe se esfuerza por satisfacer todos los gustos.

                La calidad es una prioridad en Tequegotowe. Cada tequeño se elabora con ingredientes frescos y de alta calidad, garantizando que cada bocado sea delicioso y satisfactorio. Se utilizan quesos de primera línea y embutidos selectos, así como opciones veganas, para asegurar que todos puedan disfrutar de estos sabrosos aperitivos. Esta atención al detalle en la selección de ingredientes es lo que diferencia a Tequegotowe en el mercado.</p>

                <p>Además de los tequeños clásicos, Tequegotowe ofrece opciones innovadoras que combinan sabores tradicionales con giros modernos. Por ejemplo, los tequeños de jamón y queso aportan un toque salado que complementa la suavidad del queso. Otras variedades, como los tequeños de pesto y los de kabanos, sorprenden con su fusión de sabores. Esta diversidad no solo atrae a los amantes de la comida, sino que también invita a los comensales a explorar nuevas combinaciones.

                Los productos de Tequegotowe son ideales para compartir en reuniones, fiestas o simplemente para disfrutar en casa. Su presentación es perfecta para ser servidos en bandejas, lo que los convierte en el aperitivo perfecto para cualquier ocasión. La variedad de salsas que se pueden utilizar como acompañamiento, como guasacaca, salsa de ajo o ketchup, permite que cada persona personalice su experiencia, haciendo de cada reunión un evento memorable.</p>

                <p>Tequegotowe no solo se enfoca en la calidad de sus productos, sino también en la experiencia del cliente. Cada compra está diseñada para brindar satisfacción, desde el primer bocado hasta el último. El compromiso con la innovación y la atención al detalle se refleja en la pasión por la comida que caracteriza a la marca. Ya sea que estés probando tequeños por primera vez o seas un amante de toda la vida, Tequegotowe se asegura de que cada visita sea deliciosa y memorable.</p>

            <h1>Catalogo de productos</h1>
        </div>

         <!---Aqui estoy agregando todas las fotos de los articulos y descripciones dentro de la cuadricula para despues construir este fichero con GRID--->

        <div class="galeria2">

            <img id="item1" class="imagen3" src="../assets/images/tequeños1.jpeg" alt="">

            <div id="text1">
                <p>
                    <span class="especial">Tequeños Clásicos:</span> Deliciosos palitos de queso envueltos en una masa suave y crujiente. Perfectos para compartir o disfrutar solo, son ideales como aperitivo o snack en cualquier ocasión.
                    <br><br>
                    <span class="especial">Sabor y Textura:</span> Al morder un tequeño clásico, se experimenta una combinación de texturas: la crocante de la masa que contrasta con la suavidad y cremosidad del queso derretido. El sabor es salado y reconfortante, lo que los convierte en un bocado adictivo.
                </p>
            </div>

            <img id="item2" class="imagen3" src="../assets/images/tequeños2.jpg" alt="">

            <div id="text2">
                <p>
                    <span class="especial">Tequeños de jamón y queso:</span> son una deliciosa fusión que combina el salado del jamón con la cremosidad del queso. Envuelto en la misma masa crujiente que caracteriza a los tequeños clásicos, este bocado ofrece una explosión de sabores en cada mordisco. Son perfectos para aquellos que buscan un toque diferente en un aperitivo tradicional.
                    <br><br>
                    Cada porción está elaborada con ingredientes seleccionados, asegurando que el jamón y el queso se complementen a la perfección.
                </p>
            </div>

            <img id="item3" class="imagen3" src="../assets/images/tequeños3.jpg" alt="">

            <div id="text3">
                <p>
                    <span class="especial">Tequeños rellenos de pesto :</span> son una opción gourmet que eleva el clásico tequeño a nuevas alturas. Con un relleno de queso mezclado con pesto fresco, cada bocado ofrece un sabor vibrante y aromático. Esta combinación es perfecta para los amantes de la cocina mediterránea y aquellos que buscan una alternativa refrescante.
                    <br><br>
                    La masa crujiente complementa a la perfección el sabor del pesto, creando una experiencia única y deliciosa.  


                </p>
            </div>

            <img id="item4" class="imagen3" src="../assets/images/tequeños4.jpg" alt="">

            <div id="text4">
                <p>
                    <span class="especial">Tequeños Veganos: </span>son una excelente opción para quienes siguen una dieta basada en plantas. Elaborados con un queso vegano de alta calidad y envueltos en una masa ligera y crujiente, ofrecen la misma satisfacción de los tequeños tradicionales sin ingredientes de origen animal. Son ideales para veganos y para aquellos que desean reducir su consumo de productos animales.
                    <br><br>
                    Cada tequeño vegano está diseñado para ser igual de sabroso y satisfactorio, demostrando que se puede disfrutar de un aperitivo delicioso sin sacrificar el sabor. 
                </p>
            </div>

            <img id="item5" class="imagen3" src="../assets/images/tequenos5.jpg" alt="">

            <div id="text5">
                <p>
                    <span class="especial">Tequeños Dulces:</span>
                    Los tequeños dulces son una deliciosa sorpresa que transforma este aperitivo salado en un postre tentador. Rellenos de chocolate derretido o dulce de leche, ofrecen un contraste perfecto entre lo crujiente de la masa y la suavidad de su relleno. Cada bocado es una explosión de sabor que encanta a grandes y pequeños por igual.
                    <br><br>
                    Ideales para cualquier ocasión, estos tequeños dulces son perfectos para cerrar una comida o disfrutar como un capricho a media tarde.
                </p>
            </div>

            <img id="item6" class="imagen3" src="../assets/images/tequeños8.jpg" alt="">

            <div id="text6">
                <p>
                    <span class="especial">Tequeños de Kabanos: </span>Los tequeños de kabanos son una deliciosa y sorprendente opción que combina la clásica masa crujiente con el sabor ahumado y especiado de los kabanos polacos. Este embutido, conocido por su textura firme y sabor intenso, se convierte en el relleno perfecto para los tequeños, creando un contraste irresistible. Cada bocado ofrece una explosión de sabor que combina lo salado y lo crujiente de manera excepcional.
                    <br><br>
                    Alternativa innovadora para los amantes de los embutidos.
                </p>
            </div>

            <!-------------------------------Aqui culmina la galeria de fotos--------------------------------->


        </div>

         <!------------------------- Pie de pagina de mi website--------------------------------->

        <footer>

            <p>&copy; <span class="especial">Tequegotowe.com /</span> Todos los derechos reservados/</p>
            <div>
                <a href="#contact">Contacto/</a>
                <a href="#privacy">Política de Privacidad/</a>
                <a href="#terms">Términos de Servicio/</a>
            </div>
            <div>
                <span class="especial">Síguenos en:</span>
                <a href="https://www.instagram.com/tequegotowe/" target="_blank"><img class="logo" src="../assets/images/facebook.jpg" alt="">Facebook/</a>

                <a href="https://www.instagram.com/tequegotowe/" target="_blank"> <img class="logo" src="../assets/images/twitter.jpg" alt="">Twitter/</a>

                <a href="https://www.instagram.com/tequegotowe/" target="_blank"> <img class="logo" src="../assets/images/instagram.jpg" alt="">Instagram</a>
            </div>

        </footer>

        <!------------------------- Aqui Termina mi contenedor principal--------------------------------->

    </div>
    
</body>
</html>